.app-footer {
    border-top: 1px solid rgb(221, 221, 221);
    // padding-bottom: 14px;
    justify-content: center;
    // position: fixed;
    // height: 200px;
    padding: 10px 0px 10px 0px;

    .gap {
        gap: 8px;
    }

    .left-side {
        color: $clr7;
    }
}