body {
  font-family: 'Open Sans', sans-serif;
  color: $clr2;
}

h1,
h2,
h3,
h4 {
  font-family: 'Raleway', sans-serif;
  margin: 0px;
  padding: 0px;
  font-weight: 700;
}
h1,
h2 {
  font-size: $large-size;
  line-height: 50px;
}
h3 {
  font-size: $medium-size;
}

p {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  font-size: $small-size;
  line-height: 30px;
  .name {
    font-size: 10px;
  }
  .title {
    font-size: 7px;
  }
}

a {
  font-family: 'Raleway', sans-serif;
  font-size: $regular-size;
  color: $clr2;
  font-weight: 400;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  width: 280px;
  height: 56px;
  background-image: linear-gradient(125deg, #63e1d9, #34a0cd);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: $regular-size;
  border-radius: 26px;
}
